body {
  font-family: "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: underline;
  padding: 1px;
  display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

a img {
  border: none;
}

a:hover {
  background-color: #334664;
  color: white;
  text-decoration: none;
}

#head {
  background-color: #334664;
  padding: 5px;
  margin-bottom: 5px;
}

#head .links {
  float: right;
  line-height: 30px;
}
#head .links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 2px;
  display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-right: 4px;
  margin-left: 4px;
}
#head .links a:hover {
  background-color:white;
  color: #334664;
}

#np {
  text-align: center;
  font-size: 22px;
  color: grey;
  height: 24px;
}

#library {
  float: left;
  width: 48%;
  padding: 5px;
}

#playlist {
  float: right;
  width: 48%;
  padding: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 70%; overflow: auto; clear: both; width: 100%;
}

#library ul {
  font-size: 14px;
}

#library li {
  cursor:pointer;
}

li {
  border-bottom:1px solid #334664;padding:5px;position:relative;
}

li:hover{background:#2f3b4e;}

.grey {
  color: grey;
  font-size: 11px;
}

#footer {
  border-top: 1px solid #334664;
  clear: both;
  margin-top: 10px;
  padding-top: 9px; padding-bottom: 11px;
  text-align: center;
  font-size: 0.7em;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

h1 {
  color: #ebc0ba;
  display: inline;
  font-weight: normal;
}

h2 {
  color: #334664;
  font-weight: normal;
  display: inline;
  font-size: 22px;
}

.button {
  margin: 0;
  display: table-cell;
  vertical-align: middle;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  padding: 2px;
  display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

a.button {
  text-decoration: none;
}

.red {
  color: red;
}

div.search {float: right; font-size: 0.8em; margin-bottom: 6px;}
div.search input {margin-left: 8px; border: 1px solid #aaa;}
img#spinner {padding-right: 10px; margin-bottom: -2px; display: none;}
